.icon {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  padding: 1.5rem;
  fill: #fff;
  transition: all 0.3s;

  -webkit-mask-size: 2.5rem;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-size: 2.5rem;
  mask-position: center;
  mask-repeat: no-repeat;

  &--game-controller {
    -webkit-mask-image: url(../img/SVG/game-controller.svg);
    mask-image: url(../img/SVG/game-controller.svg);
  }

  &--gauge {
    -webkit-mask-image: url(../img/SVG/gauge.svg);
    mask-image: url(../img/SVG/gauge.svg);
  }

  &--area-graph {
    -webkit-mask-image: url(../img/SVG/area-graph.svg);
    mask-image: url(../img/SVG/area-graph.svg);
  }

  &--bar-graph {
    -webkit-mask-image: url(../img/SVG/bar-graph.svg);
    mask-image: url(../img/SVG/bar-graph.svg);
  }

  &--list {
    -webkit-mask-image: url(../img/SVG/list.svg);
    mask-image: url(../img/SVG/list.svg);
  }

  &:hover {
    background-color: #f85032;
    cursor: pointer;
  }
}
