// COLORS

$color-primary: #f0442d;
$color-primary-light: #f85032;
$color-primary-dark: #e73827;

$color-grey-dark: #333333;
$color-grey-light: #757575;

$color-off-white: #f7f7f7;

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;
